* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

input, button {
  outline: 0;
}

header#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  background: #fff;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;

  font-size: 13px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  background: #F5F8FA;
  border: 1px solid #E6ECF0;
  height: 34px;
  padding: 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
}

header#main-header div.side button {
  height: 34px;
  background: #8A00FE;

  display: flex;
  align-items: center;
  justify-content:center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 16px;
}