* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

input, button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;

  font-size: 13px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  border: 1px solid #E6ECF0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #F5F8FA url("/images/search.svg") no-repeat 190px center;
}

header#main-header div.side button {
  height: 34px;
  background: #8A00FE;

  display: flex;
  align-items: center;
  justify-content:center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 16px;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #8A00FE;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active::after {
  content: "";
  width: 100%;
  height:2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #8A00FE;
}

div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;

}

div.bar .content ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content ul li.active strong {
  color: #8A00FE;
} 

div.bar .content .actions {
  display: flex;
}

div.bar .content .actions button {
  height: 34px;

  display: flex;
  align-items: center;
  justify-content:center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #8A00FE;
  border: 1px solid #8A00FE;
  border-radius: 16px;

  margin-right: 20px;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 200px; 
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626C;
}

div.wrapper-content aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile li {
  font-size: 14px;
  color: #657786;

  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul.list li:first-child {
  margin: 0;
}

div.wrapper-content aside.profile ul.list li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #8A00FE;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 align-content: flex-start;
 align-items: flex-start;
}

div.wrapper-content aside.profile .followers ul li {
  width: 45px;
  height: 45px;
  background: #D0D5D9;
  border-radius: 50%;
  flex: 1 0 auto;
  margin: 0 5px 10px 0;
}

div.wrapper-content aside.profile .images ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
 }
 
 div.wrapper-content aside.profile .images ul li {
   width: 80px;
   height: 80px;
   background: #D0D5D9;
   border-radius: 8px;
   flex: 1 0 auto;
   margin: 0 5px 5px 0;
 }

 div.wrapper-content .timeline {
  flex: 1;
 }

 div.wrapper-content aside.widgets {
  width: 290px;
 }

 div.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
 }


