* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

header#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  background: #fff;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}